body{
	background-color: #272727
}
ul.nav{
	list-style-type: none;
	text-decoration: none;
	margin: none;
	padding:none;
	text-align: center;
	float: left;
}
ul.nav a{
	background-color: #ff652f;
	color:#14A76C;
	display:block;
	padding:8px;
	text-decoration: none;
}